.button {
    font: inherit;
    border: 1px solid #E70B89;
    background: #E70B89;
    color: white;
    padding: 11px 137px;
    cursor: pointer;
    border-radius: 999px;
  }
  
  .button:hover,
  .button:active {
    background: #E70B89;
    border-color: #E70B89;
  }
  
  .button:focus {
    outline: none;
  }