
.google
{
top: 739px;
left: 115px;
width: 40px;
height: 40px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0px solid #E6E6E6;
opacity: 1;
}

.facebook
{
top: 739px;
left: 190px;
width: 40px;
height: 40px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0px solid #E6E6E6;
color:blue;
opacity: 1;
}


.twitter
{
    top: 739px;
    left: 265px;
    width: 40px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0px solid #E6E6E6;
    color: blue;
    opacity: 1;
}


.facebook
{
top: 739px;
left: 190px;
width: 40px;
height: 40px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0px solid #E6E6E6;
color:blue;
opacity: 1;
}